.container {
  display: flex;
  min-height: 125px;
  gap: 10px;
  margin: 0;
  align-items: center;
}
.container .home {
  flex: 0 0 17%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px 10px;
  border-radius: 10px;
  border: solid 5px #baddd7;
  margin-left: 10px;
  position: relative;
  background-color: white;
}
.container .home .containerHome {
  position: relative;
}
.container .home .containerHome .iconHome {
  font-size: 35px;
  padding: 6px;
  background-color: #0e844a;
  border-radius: 50%;
  color: white;
}
.container .home .containerHome .notice {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  padding: 1.85px 7.15px;
  border-radius: 10px;
}
.container .home .content {
  padding: 20px 0 20px 10px;
}
.container .home .content .nameApartment {
  color: #0e844a;
}
.container .home .iconPlus {
  color: white;
  background-color: #0e844a;
  font-size: 35px;
  padding: 6px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  transform: translateX(50%);
}
/* end home */
.container .customerServiceContainer {
  overflow-x: scroll;
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
}
.container .customerServiceContainer .box {
  min-width: 140px;
  background-color: white;
  text-align: center;
  padding: 10px 5px;
  border-radius: 10px;
  margin: 5px;
}
.container .customerServiceContainer .box .text {
  font-weight: bold;
  font-size: 14px;
}
.container .customerServiceContainer .box .imgBox img {
  width: 55px;
  height: 55px;
}
.container .customerServiceContainer .box:hover,
.container .customerServiceContainer .box.active {
  text-decoration: underline;
  border-radius: 10px;
  border: 0.5px solid #28b366;
  box-shadow: 0 0 0 0.27rem rgb(37 160 92 / 22%);
  color: rgb(29, 105, 34);
}

@keyframes DisplayOn {
  from {
    transform: translateY(calc(-100% - 21px));
  }
  to {
    transform: translateY(0);
  }
}
@keyframes DisplayOff {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-100% - 20px));
  }
}
