.container {
  display: flex;
  min-height: 125px;
  gap: 10px;
  margin: 0;
  justify-content: space-between;
  align-items: center;
}
.home {
  flex: 0 0 17%;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 8px 10px;
  border-radius: 10px;
  border: solid 5px #baddd7;
  margin-left: 10px;
  position: relative;
  background-color: white;
}
.home .iconHome {
  font-size: 35px;
  padding: 6px;
  background-color: #0e844a;
  border-radius: 15px;
  color: white;
}
.containerHome {
  position: relative;
}
.notice {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  padding: 1.85px 7.15px;
  border-radius: 10px;
}
.home .content {
  padding: 20px 0 20px 10px;
}
.iconPlus {
  color: white;
  background-color: #0e844a;
  font-size: 35px;
  padding: 6px;
  border-radius: 15px;
  position: absolute;
  right: 0;
  transform: translateX(50%);
}
.container .dichvuContainer {
  overflow-x: auto;
}
.container .dichvu {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  margin: 5px;
}
.container .dichvu .dichvuBox {
  width: 140px;
  background-color: white;
  text-align: center;
  padding: 10px 5px;
  border-radius: 10px;
}
.container .dichvu .dichvuBox:hover,
.container .dichvu .dichvuBox.active {
  text-decoration: underline;
  border-radius: 10px;
  border: 0.5px solid #28b366;
  box-shadow: 0 0 0 0.27rem rgb(37 160 92 / 22%);
}
.container .dichvu .dichvuBox img {
  width: 55px;
  height: 55px;
}
.container .dichvu .dichvuBox a {
  color: rgb(29, 105, 34);
  font-weight: bold;
  font-size: 13px;
}

@keyframes DisplayOn {
  from {
    transform: translateY(calc(-100% - 21px));
  }
  to {
    transform: translateY(0);
  }
}
@keyframes DisplayOff {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-100% - 20px));
  }
}
