.roomManagerContainer {
  margin: 10px;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
}
.header {
  display: flex;
  gap: 16px;
}
.header .box {
  padding: 8px;
  border: 0.5px solid #eeeeee;
  border-radius: 10px;
  box-shadow: 0 4px 6px 0 rgb(0 0 0 / 6%);
  flex-basis: 25%;
}
.header .box {
  padding: 15px;
  display: flex;
  align-items: center;
  position: relative;
}
.header .box .text {
  color: rgb(255, 0, 0);
}
.header .box .text h3 {
  font-weight: bold;
}
.header .box .icon img {
  width: 60px;
  height: 60px;
  margin-right: 15px;
  background-color: rgba(255, 205, 205, 0.2);
  border-radius: 50%;
  padding: 14px;
}
.header .box .arrowBox {
  position: absolute;
  right: 0;
  transform: translateY(50%);
  padding: 8px;
  font-size: 25px;
  border: 1px solid #eee;
  border-radius: 50%;
  display: flex;
  align-items: center;
}
.header .box.correct .text {
  color: rgb(60, 160, 92);
}
.header .box.correct .icon img {
  background-color: rgb(229, 255, 237);
} /* end header */
.main {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}
.desc {
  display: flex;
  justify-content: space-between;
}
.desc > * {
  margin-right: 20px;
}
.desc .content {
  padding-left: 15px;
  position: relative;
  flex-grow: 1;
}
.desc .content::before {
  position: absolute;
  content: '';
  width: 5px;
  top: 8px;
  bottom: 8px;
  left: 0;
  background-color: rgb(60, 158, 71);
  border-radius: 5px;
}
.desc .iconBox {
  margin-right: 40px;
  display: flex;
  align-items: center;
  background-color: rgb(21, 160, 92);
  padding: 12px;
  font-size: 25px;
  border-radius: 50%;
  color: white;
}
.desc .funcBox {
  display: flex;
  gap: 20px;
  color: white;
  position: relative;
}
.desc .funcBox {
  display: flex;
}
.desc .funcBox .func {
  display: flex;
  align-items: center;
  gap: 5px;
  background-image: linear-gradient(to right, rgb(125, 194, 66), rgb(59, 157, 70));
  padding: 7px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  position: relative;
}
.desc .funcBox .func .doc {
  font-size: 20px;
}
.desc .funcBox .func .notification {
  position: absolute;
  top: -12px;
  right: -10px;
  padding: 2px;
  background-color: red;
  color: white;
  border-radius: 5px;
}
.desc .funcBox .dropDown {
  display: none;
  position: absolute;
  z-index: 1;
  list-style-type: none;
  color: black;
  background-color: white;
  top: calc(100%);
  padding: 8px 0;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.desc .funcBox .dropDown li {
  padding: 4px 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.desc .funcBox .func:hover + .dropDown,
.desc .funcBox .dropDown:hover,
.desc .funcBox .func:focus + .dropDown {
  display: block;
}
.desc .funcBox .func:focus {
  box-shadow: 0 0 0 5px rgba(49, 132, 253, 0.5);
}
.desc .funcBox .dropDown li:hover {
  background-color: #e9ecef;
}
/* end desc */
.filterContainer {
  display: flex;
  margin-top: 14px;
  background-color: #f9fafb;
  padding: 10px;
  border: 1px solid #ebeced;
  border-radius: 5px;
}
.iconBox {
  padding: 0 10px;
  margin-right: 20px;
  border-right: 1px solid #ebeced;
  font-size: 25px;
  position: relative;
}
.iconBox span {
  position: absolute;
  color: white;
  padding: 3px;
  background-color: #8bc34a;
  border-radius: 5px;
  font-size: 12px;
  top: -15px;
  right: -10px;
}
.chooseFilter {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.chooseFilter .selected {
  padding: 3px 6px;
  display: flex;
  gap: 5px;
  align-items: center;
  border-radius: 5px;
  border: 0.5px solid #ccc;
  position: relative;
}
.chooseFilter .selected span {
  position: absolute;
  right: -7px;
  top: -15px;
  padding: 3px 6px;
  font-size: 12px;
  border-radius: 5px;
  color: white;
}
.bgGreen {
  background-color: #3c9d46;
  color: white;
}
.bgRed {
  background-color: #dc3545;
  color: white;
}
.bgYellow {
  background-color: #fe8f00;
}
.bgGray {
  background-color: #5f6368;
}
/* end filter */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tr:not(:first-child) {
  background-color: #4caf5029;
}
.table tr.isEmpty {
  background-color: #ff57220f;
}
.table tr.isEmpty td .imgBox img {
  background-color: rgb(237, 96, 4);
}
.table td .imgBox img {
  width: 30px;
  height: 30px;
  background-color: rgb(125, 194, 66);
  padding: 3px;
  border-radius: 50%;
}
.table tr th {
  padding: 10px 0;
  text-align: center;
}
.table tr td {
  padding: 10px 3px;
}
.table tr th,
.table tr td {
  border: 1px solid rgba(255, 87, 34, 0.06);
}
.table tr td > * {
  margin-bottom: 2%;
}
.table tr td.user * {
  display: inline-block;
}
.table tr td.user .icon {
  display: inline-flex;
  align-items: center;
  font-size: 20px;
}
.table tr td.icon > * {
  font-size: 30px;
}

.table tr td.icon.last > * {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 100%;
  display: flex;
  align-items: center;
}
.table tr td p.finance {
  padding: 3px 6px;
  font-size: 12px;
  border-radius: 5px;
  background-color: #7dc242;
  color: white;
  text-align: center;
}
.table tr.isEmpty td p.active {
  background-color: #ed6004;
}
.table tr td:hover:not(:first-child, .last) {
  background-color: #4caf5021;
  text-decoration: underline;
}
.table tr td.disabled:hover {
  background: #fff4e4 !important;
  cursor: not-allowed;
  text-decoration: none;
}
.table tr td:hover:first-child {
  cursor: move;
}
.bgRedLight {
  background-color: #ed6004 !important;
}
.colorRed {
  color: #dc3545;
}
.colorGreen {
  color: #198754;
}
.table tr {
  position: relative;
}
.table tr .func {
  position: absolute;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  right: 25px;
  top: calc(100% - 15px);
  width: 40%;
}
.table tr .func .choice,
.table tr .func .empty {
  border-bottom: 0.5px solid #ccc;
  padding: 10px 20px;
  font-size: 14px;
}
.table tr .func > *:hover {
  background-color: #f9fafb;
}
.table tr.isEmpty .func .choice,
.table tr .func .empty,
.table tr .func {
  display: none;
}

.table tr .func .choice,
.table tr .func .choice.empty,
.table tr.isEmpty .func .empty {
  display: block;
}

.table tr .func.active {
  display: grid;
}
